html {
    background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/old-mathematics.png");
    font-family: "Computer Modern Sans", sans-serif;
    /*color: #4cb69f; mint */
    /*color: #201d3a; deep purple */
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-column-gap: 70px;
    grid-row-gap: 40px;
    margin: 40px auto 0 auto;
    max-width: calc(360px + 480px + 120px);
    /*border: 2px solid blue;*/
}

.panel {
    /*border: 2px solid red;*/
    margin: 0 15px;
}

/* top left*/

.topleft img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0;
    border-radius: 5px;
    grid-column: 1/2;
    grid-row: 2/3;
}

/* top right */

.topright {
    background-color: rgba(76, 182, 159, 0.25);
    border: 2px solid #4cb69f;
    grid-column: 2/3;
    grid-row: 1/4;
    height: 100%;
    padding: 0px 10px;
}

.topright .journal_entry h3 {
    margin: 6px;
}

.topright .journal_entry p {
    margin: 0;
    padding: 0;
}

/*bottom left*/

.bottomleft {
    width: 200px;
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

.bottomleft ul {
    list-style-type: none;
    padding: 0;
}

.bottomleft ul li {
    margin: 5px 0px;
    padding: 2px 0px;
}

.bottomleft ul li a {
    text-decoration: none;
    color: black;
}

.bottomleft .active {
    background-color: #4cb69f;
}

.bottomleft .active a {
    color: white;
}
