html {
    background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/old-mathematics.png");
    font-family: "Computer Modern Sans", sans-serif;
    /*color: #4cb69f; mint */
    /*color: #201d3a; deep purple */
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-column-gap: 70px;
    grid-row-gap: 40px;
    margin: 40px auto 0 auto;
    max-width: calc(360px + 480px + 120px);
    /*border: 2px solid blue;*/
}

.panel {
    /*border: 2px solid red;*/
    margin: 0 15px;
}

/* top left*/

.topleft img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0;
    border-radius: 5px;
}

/* top right */

.topright {
    text-align: right;
    line-height: 1.25;
    padding: 2em 0;
}

.topright h4 {
    margin: 0;
    font-weight: normal;
}

/*bottom left*/

.bottomleft {
    width: 200px;
    text-align: center;
}

.bottomleft ul {
    list-style-type: none;
    padding: 0;
}

.bottomleft ul li {
    margin: 5px 0px;
    padding: 2px 0px;
}

.bottomleft ul li a {
    text-decoration: none;
    color: black;
}

.bottomleft .active {
    background-color: #4cb69f;
}

.bottomleft .active a {
    color: white;
}

/* bottom right */

.bottomright {
    border-top: 3px solid #4cb69f;
    font-size: 16px;
}

/* Portrait and Landscape */
@media screen and (max-width: 600px)  {
      .grid {
          display: grid;
          grid-template-columns: 2fr;
          grid-row-gap: 0px;
          margin: 0 auto;
          /*border: 2px solid blue;*/
      }

      .panel {
          margin: 0 auto;
          padding: 5px;
      }

      .topleft img {
          width: 150px;
      }

      .topright {
          text-align: center;
      }

      .bottomleft {
          width: max-content;
      }

      .bottomleft ul li {
          display: inline;
          padding: 5px;
      }

      .bottomleft ul li a {
          line-height: 1.5;
      }
}
